/*Generales*/
.testCard a{
  display: none;
}

li{
  outline: none;
}

.d-none{
  display: none;
}

.btn-state-page {
  background: #2fb4ca;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  padding: 3px 8px;
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.btn-state-page:hover {
  background: #21a5bb;
  transition: all 0.3s;
}
