.navbar {
  display: inline-block;
  background-color: #fafafa;
  height: 50px;
  display: flex;
  color: #636363;
}
.navbar h1 {
  display: inline-block;
  margin-left: 25px;
}

.navbar span {
  display: inline-block;
  width: 30px;
  height: 25px;
  border-radius: 3px;
  color: #fff;
  background: #549eff;
  margin-left: 125px;
  text-align: center;
  border: 1px solid #197dff;
}

.nav-menu {
  display: inline-block;
  background-color: #fafafa;
  width: 250px;
  height: 100vh;
  top: 0;
}

.states-Num {
  width: 250px;
  margin-top: 10px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  margin-top: 30px;
  width: 100%;
  margin-left: 25px;
}
.nav-menu-items li {
  color: #636363;
  margin-top: 10px;
  cursor: pointer;
}

.nav-menu-items li:hover {
  color: #313131;
}

span {
  margin-left: 16px;
}

.btn-state-page {
  background: #2fb4ca;
  border-radius: 3px;
  margin-left: 70px;
  display: inline-block;
  font-size: 15px;
  width: 104px;
  text-align: center;
  color: #fff;
}

.btn-state-page:hover {
  background: #21a5bb;
  transition: all 0.3s;
}
