@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
  
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .runtime-table {
    @apply w-full my-4;
  }

  .runtime-table > tbody {
    @apply border;
  }

  .runtime-table > tbody > tr {
    @apply border-b;
  }

  .runtime-table > tbody > tr > td {
    @apply p-2 border text-sm;
  }
}

@layer utilities {
  .code-block {
    width: 90%;
    height: 100px;
  }
}
