@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
